@{
    ViewBag.Title = "NoCart";
}

<div class="well">
    <h2>
    You have no books in your cart!
    </h2>

    <p>
        Go look for books @Html.ActionLink("now!", "Index", "Book/Index")
    </p>
</div>

