
@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h2>Contact Us!</h2>
    <ul>
        <li><h3>E-Mail: <a href="mailto:NovelThoughts@books.com">NovelThoughts@books.com</a> </h3></li>
        <li><h3>Telephone: <a href="tel:573-555-5981">573-555-5981</a></h3></li>
    </ul>
</div>

