@model BookStore.Models.PasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change your password</h2>

@if (ViewBag.incorrect)
{
    <div class="text-warning">
        <h3>That password was incorrect</h3>
    </div>
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-1">
            Enter your current password
        </div>
        
        <div class="col-md-6">
            @Html.PasswordFor(model => model.OldPassword , new { @class = "form-control" })
        </div>

    </div>

    <div class="row">
        <div class="col-md-1">
            Enter your new password
        </div>

        <div class="col-md-6">
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", @minlength = 6 })
        </div>

    </div>

    <div class="row">
        <div class="col-md-1">
            Comfirm your new password
        </div>

        <div class="col-md-6">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @minlength = 6 })
        </div>

    </div>

    <input type="submit" value="Submit" class="btn btn-default" />



}