
@{
    ViewBag.Title = "Customer Report";
}

<h2>Customer Report</h2>
<div class="well">
    <h4>There are <strong>@ViewBag.Number</strong> active users right now.</h4>
    <h4>There have been <strong>@ViewBag.Activity</strong> orders in the past year.</h4>
</div>