
@{
    ViewBag.Title = "Product";
}

<h2>Product Report</h2>

<div class="well">
    <h4>There are <strong>@ViewBag.Number</strong> of books in the system</h4>
    <h4>We have a total inventory of <strong>@ViewBag.Inventory</strong></h4>
    <h4>Our most expensive book is <strong>@ViewBag.High</strong></h4>
    <h4>Our cheapest book is <strong>@ViewBag.Low</strong></h4>
</div>
